# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Django
*.log
staticfiles/

# Database
*.sqlite3

# Environment variables
.env
.env.*

# Node
node_modules/
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db